body {
    background: linear-gradient(to bottom, #ffee58 0%, #ffee58 40%, #000 40%, #000 100%), url(../assets/WhatsApp\ Image\ 2024-03-11\ at\ 19.22.48.jpeg);    
    background-image: url(../assets/WhatsApp\ Image\ 2024-03-11\ at\ 19.22.48.jpeg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

.container {

    color: #ffee58;
    margin: 20px auto;
    padding: 0 20px;
    max-width: 800px;
}

.container h2 {

    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

header {
    background-image: url(/assets/orizontal_2.jpg);
    display: flex;
    justify-content: space-between;
    align-items: start;
    background-color: #ffee58;
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    color: #000;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.logo img {
    max-width: 280px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;

}

nav ul li a:hover {
    background-color: #ffee58;
}

.photos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photo.large {
    margin-bottom: 20px;
}

.photo img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.photo p {
    text-align: center;
    margin-top: 30px;
    font-size: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

footer {
    text-align: center;
    background-color: #ffee58;
    padding: 10px;
    color: #000;
    margin-top: 20px;
}

#portada {
    width: 50vw
}