body {
    background: linear-gradient(to bottom, #ffee58 0%, #ffee58 40%, #000 40%, #000 100%), url(../assets/WhatsApp\ Image\ 2024-03-11\ at\ 19.22.48.jpeg);
    background-image: url(../assets/WhatsApp\ Image\ 2024-03-11\ at\ 19.22.48.jpeg);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
}

#brand {
    background-color: #ffee58;
    background-image: url(../assets/orizontal_2.jpg);
    background-size: cover;
    background-position: center;
    height: 22vh;
    display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: large;
    padding: 20px;
    color: #000;
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}

.container {
    color: #ffee58;
    margin: 40px auto;
    padding: 0 20px;
    max-width: 800px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(206, 196, 17, 0.766);
}

.logo img {
    max-width: 280px;
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #000;
    text-decoration: none;
    font-size: 20px;

}

nav ul li a:hover {
    background-color: #ffee58;
}

.catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 350px;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 0px;
    text-align: center;
    font-size: 18px;
}

.product img {
    max-width: 100%;
    height: auto;
}

.product button,
.product select {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 18px;
}

.cart {
    border-collapse: collapse;
    width: 100%;
    margin: 10px;
    margin-top: 20px;
    background-color: #ffee58;
    color: #000;
}

.cart th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.cart th {
    background-color:#000;
    color: #fff;
    font-weight: bold;
}

.cart tr:nth-child(even) {
    background-color: ffee58;
}

.cart tr:hover {
    background-color: #ddd;
}

.total {
    text-align: center;
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
    margin-right: 20px;
}

.cart tfoot td:last-child {
    text-align: right;
    font-weight: bold;
    font-size: x-large;
}

#cantidad {
    margin-top: 10px;
}

#cantidad label {
    display: block;
    margin-bottom: 5px;
}

tfoot td {
    text-align: right;
    font-weight: bold;
    background-color: #000;
    color: #fff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background-color: #f2f2f2;
}

thead tr {
    text-align: center;
    color: #000;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
    color: #000;
}

tbody tr:hover {
    background-color: #ddd;
}

td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.btnComprar {
    font-weight: bold;
    font-size: x-large;
    display: inline-block;
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 68px;
}

.btnComprar:hover {
    background-color: #333;
}